{% extends "dashboard.html"%}
{% block new_lesson %}

<div class="{{'tab-pane show active fade p-3' if active_tab=='new_lesson' else 'tab-pane fade p-3'}}" id="nav-newLesson"
    role="tabpanel" aria-labelledby="nav-newLesson-tab">
    <form action="/dashboard/new_lesson" method="POST" enctype="multipart/form-data">
        {{ new_lesson_form.hidden_tag()}}
        <legend class="border-bottom my-3">New Lesson</legend>
        <div class="mb-3">
            {{ new_lesson_form.course.label(class='form-control-label')}}
            {% if new_lesson_form.course.errors %}
            {{ new_lesson_form.course(class='form-contro is-invalid')}}
            <div class="invalid-feedback">
                {% for error in new_lesson_form.course.errors %}
                <span>{{ error }} </span>
                {% endfor %}
            </div>
            {% else %}
            {{ new_lesson_form.course(class='form-select')}}
            {% endif %}
            
        </div>
        <div class="mb-3">
            {{ new_lesson_form.title.label(class='form-control-label')}}
            {% if new_lesson_form.title.errors %}
            {{ new_lesson_form.title(class='form-control is-invalid')}}
            <div class="invalid-feedback">
                {% for error in new_lesson_form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ new_lesson_form.title(class='form-control')}}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ new_lesson_form.slug.label(class='form-control-label')}}
            {% if new_lesson_form.slug.errors %}
            {{ new_lesson_form.slug(class='form-control is-invalid')}}
            <div class="invalid-feedback">
                {% for error in new_lesson_form.slug.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ new_lesson_form.slug(class='form-control')}}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ new_lesson_form.content.label(class='form-control-label')}}
            {% if new_lesson_form.content.errors %}
            {{ new_lesson_form.content(class='form-control is-invalid')}}
            <div class="invalid-feedback">
                {% for error in new_lesson_form.content.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ new_lesson_form.content(class='form-control')}}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ new_lesson_form.thumbnail.label(class='form-control-label')}}
            {% if new_lesson_form.thumbnail.errors %}
            {{ new_lesson_form.thumbnail(class='form-control is-invalid')}}
            <div class="invalid-feedback">
                {% for error in new_lesson_form.thumbnail.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ new_lesson_form.thumbnail(class='form-control')}}
            {% endif %}
        </div>


        <div class="form-group">
            <div class="col-12">
                <button class="btn btn-success" type="submit">Post</button>
            </div>
        </div>
    </form>
    {{ ckeditor.load(custom_url = url_for('static' , filename='ckeditor/ckeditor.js')) }}
    {{ ckeditor.config(name='content')}}
    
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>


{% endblock new_lesson %}